.message {
	padding-block: 5px;
	padding-inline: 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 5px;
	max-width: 70%;
	width: fit-content;
	height: auto;
	overflow: hidden;
}
