:root {
	--primary: #25d366;
	--primary-dark: #12673b;
	--background: #2c2c2c;
	--background-dark: #202020;
	--blue: #3376d0;
	--white: #f7f7f7;
	--gray: #b3b3b3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}

html {
	font-size: 100%;
	width: 100vw;
	min-height: 100vh;
	scroll-behavior: smooth;
	color: var(--white);
}

body {
	width: 100%;
	min-height: 100vh;
	height: fit-content;
	background-color: var(--background);
}

a,
textarea,
input,
button,
select {
	font: inherit;
	color: inherit;
	word-spacing: inherit;
	letter-spacing: inherit;
}

a {
	text-decoration: none;
}
