.main {
	width: 100%;
	height: 100vh;
	padding-block: 5%;
	background-color: var(--background-dark);
	display: flex;
	align-items: center;
	justify-content: center;
}

.section {
	position: relative;
	height: 100%;
	aspect-ratio: 4 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.container {
	background-color: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}

.container.signUp {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.container.signIn {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.title {
	font-weight: 400;
	font-size: 32px;
}

