.button {
	font-size: 24px;
	padding-block: 15px;
	padding-inline: 30px;
	border-radius: 15px;
	transition: all 500ms ease;
}

.button.primary {
	background-color: var(--primary-dark);
	border: 2px solid var(--primary-dark);
}

.button.primary:hover {
	background-color: transparent;
	border: 2px solid var(--primary);
}

.button.secondary {
	background-color: transparent;
	border: 5px solid var(--white);
}

.button.secondary:hover {
	background-color: var(--white);
	color: var(--background-dark);
}

.input {
	background-color: transparent;
	border: 2px solid var(--gray);
	border-radius: 10px;
	padding-block: 10px;
	padding-inline: 15px;
	width: 70%;
	font-size: 20px;
	transition: ease 200ms;
}

.input:focus {
	border-color: var(--white);
}

.input::placeholder {
	font-size: 20px;
}
